@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

*{
    padding: 0px;
	margin: 0px;
	background-color:rgb(207, 207, 238);
}

.content {
	display: flex;
	margin-top: 35px;
	color: palevioletred;
}

.title {
    padding: 10px;
	padding-left: 45px;
}

.title h1 {
    font-family: 'Pacifico', cursive;
	font-size: 40px;
	background-color: rgb(56, 11, 46);
	border-radius: 50px;
	padding: 15px;
   
}

.navigasi {
	width: 1500px;
}

.contentnav {
    float: right;
	margin-right:50px;
	padding: 5px 0px 5px 0px;
}

.navigasi li{
    list-style: none;
    float: left;
	padding: 5px 20px 5px 20px;
	margin-top: 15px;
	margin-left: 10px;
	font-family: 'Oswald', sans-serif; 
	border-radius : 50px;
	transition: 0.5s;
}
.navigasi li:hover {
	transform: scale(1.3);
	opacity: 1;
	filter: blur(0px);
	border-bottom:solid rgb(166, 73, 253) 4px ;
}

#button:hover:not(.active) {
	background-color: rgb(166, 73, 253);
	color: white;
}

#button {
	border: solid 2px grey;
	border-radius: 50px;
}





.conterside h1 {
    font-size: 40px;
	font-family: 'PT Serif', serif;
	color: grey;
	text-align: center;
	margin-top: 30px;
}


.followme {
	display: flex;
	margin-top: 60Px;
}

.word {
    font-size:20px ;
    font-family: 'PT Serif', serif;
	padding:10px;
	color: grey;
}
	
.medsos {
    width: 400px;
}

.medsos img {
	transition: 0.5s;
}

.medsos img:hover {
	transform: scale(1.2);
	opacity: 1;
	filter: blur(0px);
	border-bottom:solid rgb(166, 73, 253) 4px ;	
}
.medsos img {
    margin :0px 15px 0px 15px;
    overflow: hidden;
    border: solid grey;
    border-radius: 200px;
    padding: 10px;
}

.item h3 {
	font-family: 'Pacifico', cursive;
}

.item p {
	font-family: 'Pacifico', cursive;
}

.two-banner {
	text-align: center;
	margin-top: 50px;
}

.copyright p {
	margin-top: 16px;
	color: grey;
	font-family: 'Oswald', sans-serif;
	float: right;
  }
/* Bordered form */
form {
	border: 3px solid #f1f1f1;
	width : 1000px;
	height: 600px;
    margin-left: 15%;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: rgb(60, 128, 255);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-family: 'Oswald', sans-serif;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: rgb(155, 155, 155);
  }
  .cancelbtn a {
	background-color: rgb(155, 155, 155);
	font-family: 'Oswald', sans-serif;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
	width: 100px;
	border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
	padding: 16px;
  }

  .container label {
	font-family: 'Oswald', sans-serif;
  }

.containers {
	padding: 16px;
	margin-top: 40 px;
	margin-bottom: 0px;
}
  
  /* The "Forgot password" text */
  span.rgs {
	font-family: 'Oswald', sans-serif;
}
  span.psw {
	float: right;
	margin-top : 30px;
	font-family: 'Oswald', sans-serif;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	  display: block;
	  float: none;
	}
	.cancelbtn {
	  width: 100%;
	}
  }