body {
    background-image:url(ya.jpg);
}
.container {
    width: 350px;
    height: 400px;
    background-color: rgba(44, 28, 28, 0.3);
}
.container h2 {
    color: white;
    text-align: center;
}
header {
    margin-top: 50px;
    margin-bottom: 30px;
}
h1 {
    text-align: center;
}
.signup {
    width: 350px;
    margin-left: 100px;
    margin-right: 100px;
}
.signup h5 {
    width: 350px;

}
