*{
box-sizing :border-box;
margin: 0px;
padding: 0px;
}



body {background-color: rgb(0, 0, 12)
}

header {
    padding: 20px 20px;
}

li {
    margin: 0px, ;
    padding: 10px;
    font-size: 20px;
    float: right;
    background-color:rgb(0, 0, 15);
}

ul {
  background-color :rgb(0, 0, 15);
  margin : 0px;
  padding: 0px 40px;
}

li a {
color: white;
text-align: center;
text-decoration: none;
padding: 10px;
font-family:"Ubuntu Condensed", sans-serif;
}

li a:hover {
background-color:rgb(1, 59, 59);
}

.Slideshow{
  height: auto;
  background-image: url(https://i.huffpost.com/gen/1559464/thumbs/n-COLLEGE-APPLICATIONS-570.jpg) no-repeat;
  background-size: cover;
}

#Gambar1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;

  height: auto;
  opacity: 0.25;
}